@import "./colors.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  box-sizing: border-box;
  border-top: 6px solid var(--lynx-purple);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: normal;
  color: var(--lynx-purple);
}

.pane {
  padding: 20px 22px;
  overflow: auto;
}
.pane::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.pane::-webkit-scrollbar-track {
  background-color: transparent;
}
.pane::-webkit-scrollbar-thumb {
  border-radius: 999999px;
  background-color: #999;
}

.hidden {
  display: none !important;
}

.primary-button {
  padding: 12px 14px;
  border: none;
  border-radius: 7.5px;
  font-size: 17px;
  font-family: inherit;
  background-color: var(--lynx-purple);
  color: #fff;
  box-shadow: 0 2px 10px 0 #7030a082;
}

.secondary-button {
  padding: 12px 14px;
  border: 2px solid var(--lynx-purple);
  border-radius: 7.5px;
  font-size: 17px;
  font-family: inherit;
  background-color: #fff;
  color: var(--lynx-purple);
  box-shadow: 0 2px 10px 0 #7030a033;
}

.primary-button span, .secondary-button span {
  position: relative;
  top: -1px;
}

#sidebar, #status-section {
  height: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  /* border-right: 1.5px solid #bbb; */
}

#connected-devices {
  flex: 1 0;
  border-bottom: 1.5px solid #bbb;
}

#connected-devices .connected-device {
  margin: 0 -22px;
  padding: 10px 0;
  cursor: pointer;
}
#connected-devices .connected-device:hover {
  background-color: #ddd;
}

#connected-devices .connected-device::after {
  content: "";
  display: block;
  position: relative;
  top: 0.5px;
  left: 50%;
  width: calc(100% - 44px);
  height: 1px;
  background-color: #000;
  transform: translate(-50%, 10px);
}

#connected-devices .connected-device.device-selected {
  background-color: #7030a03a;
}

#connected-devices .connected-device > * {
  padding: 0 20px;
}

#connected-devices .connected-device .device-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--lynx-purple);
}

#connected-devices .connected-device .extra-info {
  margin-top: 2px;
}

#connected-devices .connected-device .extra-info > * {
  display: block;
}

#connect {
  display: flex;
  flex-direction: column;
}

#connect :not(h1) {
  align-self: center;
  text-align: center;
}

#connect #connect-qr-code {
  width: 12.5vw;
  height: 12.5vw;
  margin-top: -5px;
}

#connect span {
  margin-bottom: 1.7vh;
}

#no-device-selected, #status-section {
  display: flex;
  flex: 1;
  box-shadow: 0 0 10px #bbb;
}

#no-device-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#status-section #status-section-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1.5px solid #bbb;
}

#device-status {
  flex-shrink: 0;
  border-bottom: 1.5px solid #bbb;
}

#device-status div:first-of-type {
  white-space: pre-wrap;
}

#device-status #connected-green-light {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 1px 2.5px 2px;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 16px;
  background-color: #0f0;
}

#file-transfer #send-files {
  display: block;
}

#file-transfer #send-files span {
  position: relative;
  top: -1px;
}

#file-transfer .file-transfer-section:not(:last-of-type) {
  margin: 20px 0;
}
/* #file-transfer .file-transfer-section:not(:last-of-type)::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: translate(-50%, 25px);
} */

#file-transfer .file-transfer-section:last-of-type {
  margin-top: 20px;
}

#file-transfer .file-transfer-section .file-transfer-progress-bar {
  width: 100%;
  height: 8px;
  margin: 11px 0 9px;
  border: 1px solid #707070;
  border-radius: 999999px;
}

#file-transfer .file-transfer-section .file-transfer-progress-bar .file-transfer-progress-bar-filler {
  position: relative;
  left: -1px;
  top: -1px;
  width: 0;
  height: 10px;
  border-radius: 999999px 0 0 999999px;
  background-color: var(--lynx-purple);
  transition: width 0.2s;
}

#file-transfer .file-transfer-section .file-transfer-files-list {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 7.5px;
  border-spacing: 0;
}

/* border radius on table */
#file-transfer .file-transfer-section .file-transfer-files-list th:first-child {
  border-top-left-radius: 7.5px;
}
#file-transfer .file-transfer-section .file-transfer-files-list th:last-child {
  border-top-right-radius: 7.5px;
}
#file-transfer .file-transfer-section .file-transfer-files-list tr:last-child td:first-child {
  border-bottom-left-radius: 7.5px;
}
#file-transfer .file-transfer-section .file-transfer-files-list tr:last-child td:last-child {
  border-bottom-right-radius: 7.5px;
}

#file-transfer .file-transfer-section .file-transfer-files-list * {
  text-align: left;
}

#file-transfer .file-transfer-section .file-transfer-files-list tr * {
  padding: 5px 7px;
}

#file-transfer .file-transfer-section .file-transfer-files-list tr:not(:last-child) * {
  border-bottom: 1px solid #000;
}

#file-transfer .file-transfer-section .file-transfer-files-list tr :not(:first-child) {
  border-left: 1px solid #000;
}

#file-transfer .file-transfer-section .file-transfer-files-list th {
  text-align: left;
  font-weight: 500;
  background-color: #ccc;
}

#file-transfer .file-transfer-section .file-transfer-files-list th:first-child {
  width: 18em;
}

#file-transfer .file-transfer-section .file-transfer-files-list td:first-child {
  display: block;
  width: 18em;
  word-break: break-all;
}

#screen-sharing {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#screen-sharing #phone-screen-and-controls {
  /* if height greater than width, flex-direction: row; max-width: 90%; */
  display: flex;
  flex-direction: column;
  max-width: 60%;
  max-height: calc(100% - 230px);
  margin: 30px 0 25px;
  align-self: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 0 #888;
}

#screen-sharing #phone-screen-and-controls #phone-screen {
  /* if height greater than width, max-width: calc(100% - 42px); max-height: 100%; */
  display: block;
  max-width: 100%;
  max-height: calc(100% - 42px);
}

#screen-sharing #phone-screen-and-controls #phone-controls {
  /* if height greater than width, flex-direction: column-reverse; width: 42px; height: 100%; padding: 9% 10px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 42px;
  padding: 10px 19%;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

#screen-sharing.stream-popped-out #phone-screen-and-controls {
  width: 60%;
  height: calc(100% - 230px);
  align-items: center;
  justify-content: center;
}

#screen-sharing #phone-screen-and-controls span {
  display: none;
  margin-bottom: 15px;
}
#screen-sharing.stream-popped-out #phone-screen-and-controls span {
  display: initial;
}

#screen-sharing #phone-screen-and-controls #display-stream-in-main-window {
  display: none;
}
#screen-sharing.stream-popped-out #phone-screen-and-controls #display-stream-in-main-window {
  display: initial;
}

#screen-sharing.stream-popped-out #phone-screen-and-controls #phone-screen,
#screen-sharing.stream-popped-out #phone-screen-and-controls #phone-controls {
  display: none;
}

#screen-sharing #screen-sharing-actions {
  display: flex;
  width: 100%;
  justify-content: center;
}

#screen-sharing.stream-popped-out #screen-sharing-actions {
  display: none;
}

#screen-sharing #screen-sharing-actions button:not(:last-child) {
  margin-right: 17px;
}

#screen-sharing #display-stream-in-main-window-message {
  display: none;
  text-align: center;
}
#screen-sharing.stream-popped-out #display-stream-in-main-window-message {
  display: initial;
}
